
body {
  background-image: url("images/seasideTable.jpg");
  background-size: cover;
}

.logo-image {
  position: absolute;
  left: 0;
  margin: 10px;
  width: 40px;
  height: 40px;
}

h1 {
  text-align: center;
  color: white;
}

.search {
  color: white;
}

.cart-btn {
  position: relative;
  border: none;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  float: right;
}

.cart-btn:hover {
  background-color: #333;
  color: #fff;
}

.cart-btn i {
  margin-right: 5px;
}

.cart-btn img {
  height: 30px;
  margin-right: 5px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="text"] {
    width: 250px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    height: 60px;
    padding: 0 20px;
    position: relative; 
  }
  
  .nav-menu ul {
    display: flex;
    list-style: none;
  }
  
  .nav-menu li {
    margin-right: 20px;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }

/* For smaller screens such as mobiles or tablets etc.

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 300px);
  }
}
*/

.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
  margin-bottom: 20px;
  padding: 50px;
  margin-left: 110px;
  margin-right: 110px;
}

.item {
  background-color: white;
}

.item img {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 250px;
  height: 250px;
  border-radius: 2px 2px 2px 2px;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
}

.details h3 {
  margin-bottom: 0.3em;
  text-align: center;
}

.details p {
  margin-top: 0.3em; 
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 12px;
}

.price-quant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
}

.price-quant p {
margin-bottom: 10px;
font-style: italic;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
  margin: 2px;
  align-items: center;
}

.plus, .minus {
  border: 1px solid black;
  border-radius: 10%; 
  display: inline-block; 
  width: 25px; 
  height: 25px; 
  text-align: center;
  line-height: 25px; 
  font-size: 20px; 
  font-weight: bold;
  cursor: pointer; 
}

.minus {
  color: red;
}

.plus {
  color: green;
}

.quantity {
  border: 1px solid black;
  border-radius: 10%; 
  width: 25px; 
  height: 25px; 
  line-height: 25px; 
  font-size: 20px; 
  text-align: center;
}

.footer1, .footer2, .footer3 {
  color: white;
}

